@model IEnumerable<Core.Models.room>

@{
    ViewBag.Title = "Rooms";
}

<h2>All rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Room number
        </th>
        <th>
            Number of beds
        </th>
        <th>
            Overall quality
        </th>
        <th>
            Room status
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.beds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
