@model Web.Model.ReservationIndexModel

@{
    ViewBag.Title = "Reservations";
}

<h2>Room reservations</h2>

<form>
    <div class="form-group">
        <label>Email</label>
        <input name="email" type="email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Søk!" />
    </div>
</form>

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Create New", "Create")
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Number of Beds
        </th>
        <th>
            Quality
        </th>
    </tr>

@foreach (var item in Model.Reservations) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quality)
        </td>
    </tr>
}

</table>
